:root {
  --primary-dark-text-color: #171313;
  --primary-dark-text-color-08: rgba(23, 19, 19, 0.8);
  --secondary-dark-text-color: #606060;
  --secondary-light-text-color: #ffffff;
  --primary-light-text-color: #f7f5f5;
  --primary-light-text-color-06: rgba(247, 245, 245, 0.6);

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f7f5f5;
  --dark-bg-color: #171313;
  --scrollbar-bg: #efefef;

  --accent-color: #e3000b;

  --border-dark-color: #606060;

  --animation: all 0.3s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-bg-color);

  color: var(--primary-dark-text-color);
  font-family: "Multica-Pro", sans-serif;
  font-weight: 600;

  /* font-family: "Brotesk", sans-serif; */
  /* font-family: "Brotesk", sans-serif; */
  /* font-family: "Darker Grotesque", sans-serif; */
  /* font-family: "Transforma-Mix", sans-serif; */
  /* font-family: "DM Sans", sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style-type: none;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.section-header {
  display: flex;
  align-items: flex-start;
  column-gap: 80px;
  padding: 80px 40px;
}

.title {
  display: flex;
  column-gap: 24px;
  align-items: center;

  color: var(--accent-color);
  font-family: "Transforma-Mix", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
}

.title::before {
  content: "";

  flex-shrink: 0;
  width: 16px;
  height: 34px;

  background-image: url("../imgs/chevron-red.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.label {
  color: var(--primary-dark-text-color);
  font-size: 48px;
  line-height: 1;
}

.description {
  color: var(--secondary-dark-text-color);
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.35;
}
