:root {
  --primary-dark-text-color: #171313;
  --primary-dark-text-color-08: rgba(23, 19, 19, 0.8);
  --secondary-dark-text-color: #606060;
  --secondary-light-text-color: #ffffff;
  --primary-light-text-color: #f7f5f5;
  --primary-light-text-color-06: rgba(247, 245, 245, 0.6);

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f7f5f5;
  --dark-bg-color: #171313;
  --scrollbar-bg: #efefef;

  --accent-color: #e3000b;

  --border-lightdark-color: #606060;
  --border-dark-color: #171313;

  --animation: all 0.3s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--primary-dark-text-color);
  font-family: "Multica-Pro", sans-serif;
  font-weight: 600;

  background-color: var(--primary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 748px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style-type: none;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.section-header {
  padding: 0 10px;
  margin-bottom: 24px;
}

.cases .section-header {
  margin-bottom: 30px;
}

.title {
  display: flex;
  column-gap: 24px;
  align-items: center;

  color: var(--accent-color);
  font-family: "Transforma-Mix", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
}

.title::before {
  content: "";

  flex-shrink: 0;
  width: 16px;
  height: 34px;

  background-image: url("../imgs/chevron-red.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.label {
  color: var(--primary-dark-text-color);
  font-size: 28px;
  line-height: 1;
}

.description {
  color: var(--secondary-dark-text-color);
  font-family: "Darker Grotesque", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;

  transition: var(--animation);
}

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;

  max-width: 730px;
  width: calc(100% - 18px);
  margin-right: auto;
  margin-left: auto;
  border-radius: 40px;

  border: 4px solid var(--border-dark-color);
  background-color: var(--primary-bg-color);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);

  z-index: 1;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  padding: 40px 10px 0;
}

.close-menu-btn {
  border: none;
  line-height: 0;
  background-color: transparent;

  color: var(--primary-dark-text-color);
}

.menu .logo-link {
  color: var(--primary-dark-text-color);

  font-size: 24px;
  line-height: 0.71;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.menu .main-nav {
  display: block;
  padding: 60px 20px;
}

.menu .nav-link {
  color: var(--primary-dark-text-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-header {
    display: flex;
    align-items: flex-start;
    column-gap: 80px;
    padding: 0 40px;
    margin-bottom: 80px;
  }

  .label {
    font-size: 48px;
  }

  .description {
    font-size: 20px;
    line-height: 1.35;
  }

  .cases .section-header {
    margin-bottom: 80px;
  }

  .backdrop {
    display: none;
  }
}
